absl-py==2.0.0
access==1.1.9
affine==2.4.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1701099495371/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
anndata @ file:///home/conda/feedstock_root/build_artifacts/anndata_1690292453793/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1696634205638/work
appdirs==1.4.4
argcomplete @ file:///tmp/build/80754af9/argcomplete_1618920853202/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1649500309442/work
asciitree==0.3.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
astunparse==1.6.3
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs==23.2.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo @ file:///home/conda/feedstock_root/build_artifacts/backports.zoneinfo_1655749751728/work
bamnostic==1.1.8
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bioservices==1.11.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1660586590972/work
brotlipy==0.7.0
cachetools==5.2.0
cattrs==23.2.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046063618/work
charset-normalizer==2.1.0
check-shapes==1.1.1
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
click-plugins==1.1.1
cligj==0.7.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1697464713350/work
colorama==0.4.6
colorlog==6.8.0
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1695554215751/work
cryptography @ file:///croot/cryptography_1686613057838/work
cupy-cuda102==10.6.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
Cython==0.29.37
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1695545170008/work
dask==2023.5.0
dask-image @ file:///home/conda/feedstock_root/build_artifacts/dask-image_1679901806846/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1649586349877/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.14
deprecation==2.1.0
descartes==1.1.0
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1678486482984/work
dm-tree==0.1.8
docrep @ file:///home/conda/feedstock_root/build_artifacts/docrep_1613487293529/work
dropstackframe==0.1.0
dunamai==1.12.0
easydev==0.12.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
episcanpy==0.3.2
esda==2.2.0
exceptiongroup==1.2.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
fasteners==0.19
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1641751198313/work/dist
fastrlock==0.8
feather-format @ file:///home/conda/feedstock_root/build_artifacts/feather-format_1588949071708/work
filelock @ file:///croot/filelock_1700591183607/work
fiona==1.9.5
flatbuffers==23.5.26
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1702929630738/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645449312/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1702335961905/work
future @ file:///croot/future_1677599870788/work
gast==0.4.0
geopandas==0.13.2
get-annotations @ file:///home/conda/feedstock_root/build_artifacts/get-annotations_1678462242093/work
get_version==3.5.4
gevent==23.9.1
giddy==2.3.4
google-api-core==2.15.0
google-auth==2.25.2
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-cloud-vision==3.5.0
google-pasta==0.2.0
googleapis-common-protos==1.56.3
gpflow==2.9.0
greenlet==3.0.3
grequests==0.7.0
grpcio==1.60.0
grpcio-status==1.47.0
gseapy==0.10.8
h5py @ file:///croot/h5py_1691589708553/work
hdbscan==0.8.33
hdf5storage==0.1.18
idna @ file:///croot/idna_1666125576474/work
igraph==0.10.1
imagecodecs @ file:///croot/imagecodecs_1695064943445/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1702571712725/work
importlib-metadata==7.0.1
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1655356668708/work
inequality==1.0.0
inflect @ file:///home/conda/feedstock_root/build_artifacts/inflect_1688488794948/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1655241626755/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1653754926575/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1655973868664/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1649067097809/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///croot/joblib_1685113087166/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1656454091745/work
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1637233111631/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1655961255101/work
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1652365251650/work
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1655961217661/work
keras==2.13.1
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379923772/work
kneed==0.7.0
lark==1.1.8
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy_loader_1692295373316/work
legacy-api-wrap==1.2
leidenalg==0.10.1
libclang==16.0.6
libpysal==4.8.1
llvmlite==0.38.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
loess==2.1.2
louvain==0.7.1
lxml==4.9.1
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1704831117336/work
mapclassify==2.6.0
Markdown==3.5.1
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737563195/work
mat73==0.62
matplotlib==3.7.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
matplotlib-scalebar @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-scalebar_1646998478009/work
matplotlib-venn==0.11.9
mgwr==2.2.0
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1635844675081/work
mizani==0.9.3
momepy==0.6.0
mpmath==1.3.0
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1700926505851/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1696716067907/work
multipledispatch==1.0.0
munkres==1.1.4
NaiveDE==1.2.0
natsort==8.1.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1654071785565/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1649676641343/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1651607001005/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1648959695634/work
networkx @ file:///croot/networkx_1690561992265/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1654636967533/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1655473308142/work
numcodecs @ file:///home/conda/feedstock_root/build_artifacts/numcodecs_1697592107336/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1653325300596/work
oauthlib==3.2.2
omnipath @ file:///home/conda/feedstock_root/build_artifacts/omnipath_1700518474780/work
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
palettable==3.3.3
pandas==1.4.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parmap==1.7.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1695667515973/work
patsy==0.5.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.2.0
PIMS @ file:///home/conda/feedstock_root/build_artifacts/pims_1685727716074/work
platformdirs==4.1.0
plotbin==3.1.3
plotnine==0.8.0
ply==3.11
pointpats==2.4.0
progress==1.6
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1649447152425/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1656332401605/work
proto-plus==1.23.0
protobuf==4.25.1
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1653089172347/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
PuLP==2.7.0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1703248379805/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1703318501489/work
pygco==0.0.16
pygeos==0.14
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1650904496387/work
pynndescent @ file:///croot/pynndescent_1685342030133/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproj==3.5.0
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
pyrouge==0.1.3
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1649013354401/work
pysal==2.0.0
pysam==0.19.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-igraph==0.10.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1660580468234/work
pytz-deprecation-shim @ file:///home/conda/feedstock_root/build_artifacts/pytz-deprecation-shim_1656249451360/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1695567543138/work
PyYAML @ file:///croot/pyyaml_1670514731622/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1656183564873/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1654465674650/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1651524593465/work
quantecon==0.7.1
rasterio==1.3.9
rasterstats==0.19.0
requests @ file:///croot/requests_1690400202158/work
requests-cache==1.1.1
requests-oauthlib==1.3.1
rpy2 @ file:///home/conda/feedstock_root/build_artifacts/rpy2_1696426048860/work
rsa==4.8
Rtree==1.1.0
scanpy @ file:///home/conda/feedstock_root/build_artifacts/scanpy_1699376533337/work
scGCO==1.1.2
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1688804534879/work/dist/scikit_image-0.21.0-cp38-cp38-linux_x86_64.whl#sha256=07534b01a4164c5bfe7b16daacd4d2c22e54d53e63caeede0072b2b0f6a438a0
scikit-learn @ file:///croot/scikit-learn_1694788527225/work
scipy==1.8.0
seaborn @ file:///croot/seaborn_1673479180098/work
segregation==2.5
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
session-info @ file:///home/conda/feedstock_root/build_artifacts/session-info_1649179682763/work
setuptools-scm==7.0.3
shapely==2.0.2
signac @ file:///home/conda/feedstock_root/build_artifacts/signac_1689188052619/work
simplegeneric==0.8.1
simplejson==3.19.2
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300436403/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slicerator @ file:///home/conda/feedstock_root/build_artifacts/slicerator_1649451685407/work
snuggs==1.4.7
somde==0.1.8
somoclu==1.7.6
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
spaghetti==1.7.4
SpatialDE==1.1.3
spglm==1.0.8
spint==1.0.7
splot==1.1.5.post1
spopt==0.5.0
spreg==1.4.2
spvcm==0.3.0
squidpy @ file:///home/conda/feedstock_root/build_artifacts/squidpy_1678832450273/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1655315839047/work
statsmodels @ file:///croot/statsmodels_1689937266057/work
stdlib-list @ file:///croot/stdlib-list_1676902944280/work
suds-community==1.1.2
sympy==1.12
synced-collections @ file:///home/conda/feedstock_root/build_artifacts/synced_collections_1687501985243/work
tabulate==0.9.0
tbb==2021.6.0
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1702066284995/work
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-probability==0.21.0
termcolor==2.4.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1652790603425/work
texttable @ file:///home/conda/feedstock_root/build_artifacts/texttable_1696407540773/work
threadpoolctl==3.1.0
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1689063654925/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
tobler==0.9.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827257044/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1655411388954/work
typing_extensions==4.9.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1660582595106/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1656259947356/work
umap-learn @ file:///croot/umap-learn_1696942523449/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847997538/work
url-normalize==1.4.3
urllib3 @ file:///croot/urllib3_1686163155763/work
validators @ file:///home/conda/feedstock_root/build_artifacts/validators_1693659212288/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug==3.0.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1655939017940/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1699532804024/work
xarray==2023.1.0
xmltodict @ file:///croot/xmltodict_1697086210950/work
yarl==1.9.4
yq @ file:///tmp/build/80754af9/yq_1614712515795/work
zarr==2.16.1
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1681770155528/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
zope.event==5.0
zope.interface==6.1
